<script src="/js/editforms.js"></script>

<div class="container" id ='containerbg'>
	<br>

	<h1>Account Database</h1>
	<!-- <table>
		<body>
			<form class="" action="index.html" method="post">
				<tr>
					<input class="form-control" type="text" placeholder="Search" aria-label="Search">
				</tr>
				<tr>
					<td><input type="radio" id="User ID" name="searchFilter" value="User ID"><label for="User ID">User ID</label> </td>
					<td><input type="radio" id="username" name="searchFilter" value="username"><label for="username">Username</label> </td>
					<td><input type="radio" id="password" name="searchFilter" value="password"><label for="password">Password</label> </td>
					<td><input type="radio" id="email" name="searchFilter" value="email"><label for="email">Email</label> </td>
					<td><input type="radio" id="First Name" name="searchFilter" value="First Name"><label for="First Name">First Name</label> </td>
					<td><input type="radio" id="Last Name" name="searchFilter" value="Last Name"><label for="Last Name">Last Name</label> </td>
					<td><input type="radio" id="Street" name="searchFilter" value="Street"><label for="Street">Street</label> </td>
					<td><input type="radio" id="City" name="searchFilter" value="City"><label for="City">City</label> </td>
					<td><input type="radio" id="Zip" name="searchFilter" value="Zip"><label for="Zip">Zip</label> </td>
				</tr>
			</form>
		</body>
	</table> -->

	<form class="" action="index.html" method="post">
		<div class="form-row">
				<div class="form-group col-md-9">
					<input class="form-control" type="text" placeholder="Search" aria-label="Search">
				</div>
				<div class="form-group col-md-3">
					<select class="form-control" id="newCategory">
						<option>User ID</option>
						<option>Username</option>
						<option>Password</option>
						<option>Email</option>
						<option>First Name</option>
						<option>Last Name</option>
						<option>Street</option>
						<option>City</option>
						<option>Zip</option>
					</select>
				</div>
		</div>
	</form>

	<button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#addaccount" aria-expanded="false" aria-controls="addaccount">
	Add Account
	</button><br />
	<div class="collapse" id="addaccount">
		<form>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="newUsername">Username</label>
					<input type="text" class="form-control" id="newUsername" placeholder="Username">
				</div>
				<div class="form-group col-md-6">
					<label for="newPassword">Password</label>
					<input type="password" class="form-control" id="newPassword" placeholder="Password">
				</div>
			</div>
			<div class="form-group">
				<label for="newEmail">Email address</label>
				<input type="email" class="form-control" id="newEmail" aria-describedby="emailHelp" placeholder="Email address">
				<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="newFname">First Name</label>
					<input type="text" class="form-control" id="newFname" placeholder="First Name">
				</div>
				<div class="form-group col-md-6">
					<label for="newLname">Last Name</label>
					<input type="text" class="form-control" id="newLname" placeholder="Last Name">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-5">
					<label for="newStreet">Street</label>
					<input type="text" class="form-control" id="newStreet" placeholder="Street">
				</div>
					<div class="form-group col-md-5">
					<label for="newCity">City</label>
					<input type="text" class="form-control" id="newCity" placeholder="City">
				</div>
					<div class="form-group col-md-2">
					<label for="newZip">Zip</label>
					<input type="text" class="form-control" id="newZip" placeholder="Zip">
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>

	<hr>
	<div class="table-responsive">
		<table class = 'table'>
			<thead>
				<tr>
					<th>User ID</th>
					<th>Username</th>
					<th>Password</th>
					<th>Email</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Street</th>
					<th>City</th>
					<th>Zip</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<span id='userid'>00000001</span>
					</td>
					<td>
						<span id='username'>barry</span>
					</td>
					<td>
						<span id='password'>1</span>
					</td>
					<td>
						<span id='email'>google@google.com</span>
					</td>
					<td>
						<span id='fname'>Barack</span>
					</td>
					<td>
						<span id='lname'>Obama</span>
					</td>
					<td>
						<span id='street'>1234 Fake Street</span>
					</td>
					<td>
						<span id='city'>Honolulu</span>
					</td>
					<td>
						<span id='zip'>90210</span>
					</td>
					<td>
						<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modalEdit">Edit</button>
					</td>
					<td>
						<button type="button" class="btn btn-danger">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

<!-- Edit Pop Up (called Modal) -->

<form class="" action="account" method="post">

	<div class="row d-flex justify-content-center modalWrapper">

		<div class="modal fade modalEditClass" id="modalEdit" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header text-center">
						<h4 class="modal-title w-100 font-weight-bold ml-5">Edit Entry</h4>
						<button type="button" class="close text-secondary" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body mx-3">
						<div class="md-form mb-1">
							<input type="text" id="editUsername" class="form-control validate">
							<label data-error="wrong" data-success="right" for="editUsername">Username</label>
						</div>

						<div class="md-form mb-1">
							<input type="text" id="editPassword" class="form-control validate">
							<label data-error="wrong" data-success="right" for="editPassword">Password</label>
						</div>

						<div class="md-form mb-1">
							<input type="text" id="editEmail" class="form-control validate">
							<label data-error="wrong" data-success="right" for="editEmail">Email</label>
						</div>

						<div class="form-row mb-1">
							<div class = "col">
								<input type="text" id="editFname" class="form-control validate">
								<label data-error="wrong" data-success="right" for="editFname">First Name</label>
							</div>

							<div class="col">
								<input type="text" id="editLname" class="form-control datepicker">
								<label data-error="wrong" data-success="right" for="editLname">Last Name</label>
							</div>
						</div>

						<div class="md-form">
							<input type="text" id="editStreet" class="form-control validate">
							<label data-error="wrong" data-success="right" for="editStreet">Street</label>
						</div>

						<div class="md-form">
							<input type="text" id="editCity" class="form-control validate">
							<label data-error="wrong" data-success="right" for="editCity">City</label>
						</div>

						<div class="md-form">
							<input type="text" id="editZip" class="form-control validate">
							<label data-error="wrong" data-success="right" for="editZip">Zip</label>
						</div>

					</div>
					<div class="modal-footer d-flex justify-content-center editInsideWrapper">
						<button onclick="editAccount()" class="btn btn-secondary btn-block editInside" data-dismiss="modal">Confirm Changes
							<i class="fas fa-paper-plane-o ml-1"></i>
						</button>
					</div>
				</div>
			</div>
		</div>

	</div>
</form>


</div>
