<div class="container" id='containerbg'>
	<br>
	<h1>Category Table</h1>

	<!-- search bar -->
	<form id='search_people'>
		<input id="category_name_search_string" name="category_name_search_string" class="form-control" type="text" placeholder="Search Category Name" aria-label="Search" />
		<button class="btn btn-primary" onclick="searchCategories()">Search</button>
	</form>
	<br>

	<!-- add item -->
	<button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#addcategory" aria-expanded="false" aria-controls="addcategory">
		Add Category
	</button><br />
	<div class="collapse" id="addcategory">
		<form id="addCategories" action="/categories" method="post">
			<div class="form-group">
				<label for="newCategoryName">Category Name</label>
				<input type="text" class="form-control" id="newCategoryName" name="newCategoryName" placeholder="Category Name" required>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
	<hr />

	<!-- display item -->
	<table class='table'>
		<thead>
			<tr>
				<th>Category ID</th>
				<th>Category Name</th>
				<th>Edit Name</th>
				<th>Delete Category</th>
			</tr>
		</thead>
		<tbody>
			{{#each categories}}
			<tr>
				<td>
					<span id='categoryid'>{{id}}</span>
				</td>
				<td>
					<span id='categoryname'>{{name}}</span> <br>
				</td>
				<td>
					<a class="btn btn-dark" href="/categories/{{id}}">Update</a>
				</td>
				<td>
					<button class="btn btn-danger" onclick="deleteCategories({{id}})">Delete</button>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>
