<div class="container" id='containerbg'>
	<br>

	<h1>Dumb Amazon Administration Page</h1>
	<p style='text-align: center; color: #606060;'>A basic online shopping site</p>

	<h3>Pages on this website</h3>
	<ol>
		<li>Home: index page</li>
		<li>Account: account table CRUD</li>
		<li>Product: product table CRUD</li>
		<li>Orders: orders table CRUD
			<ul>- orders_product table CRUD accessible via Order Detail "View"</ul>
		</li>
		<li>Payment: payment table CRUD</li>
		<li>Category: categories table CRUD</li>
	</ol>

	<!--<h3>Other Ideas</h3>
	<ol>
		<li>Not Amazon</li>
		<li>Yosemite</li>
		<li>Mazamon</li>
		<li>Azamon</li>
		<li>Beff Jezos</li>
		<li>YouShop</li>
		<li>OSUShop</li>
		<li>iShop</li>
		<li>PopShop</li>
		<li>Alabiba</li>
		<li>Balabiba</li>
	</ol>

	<p>Will later fill the home page with filler ads or text</p>-->

</div>
