<div class="container" id='containerbg'>
	<br>

	<h1>Dumb Amazon Administration Page</h1>
	<p style='text-align: center; color: #606060;'>A basic online shopping site</p>

	<h3>Pages on this website</h3>
	<ol>
		<li>Home: index page</li>
		<li>Account: account table CRUD</li>
		<li>Product: product table CRUD</li>
		<li>Orders: orders table CRUD
			<ul><li>orders_product (many-to-many relationship between orders and product entities) table CRUD <br />accessible via Order Detail "View" button</li></ul>
		</li>
		<li>Payment: payment table CRUD</li>
		<li>Category: categories table CRUD</li>
	</ol>

</div>
