<div class="container" id='containerbg'>
	<br>
	<h1>orders_product Database</h1><hr>

	<table>
		<body>
			<form class="" action="index.html" method="post">
				<tr>
					<input class="form-control" type="text" placeholder="Search Product Name" aria-label="Search">
				</tr>
				<tr></tr>
			</form>
		</body>
	</table>

	<br>
	
	<button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#addOrdersProduct" aria-expanded="false" aria-controls="addOrdersProduct">
		Add orders_product
	</button><br />
	<div class="collapse" id="addOrdersProduct">
		<form>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="newProduct">Product Name</label>
					<select class="form-control" id="newProduct">
						<option>T-Shirt</option>
						<option>Lamborghini Aventador</option>
						<option>3</option>
						<option>4</option>
					</select>
				</div>
				<div class="form-group col-md-6">
					<label for="newQuantity">Quantity</label>
					<input type="number" class="form-control" id="newQuantity" placeholder="Quantity">
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>

	<br>

	<table class='table'>
		<thead>
			<tr>
				<th>Product Name</th>
				<th>Quantity</th>
				<th>Price</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<span id='productname'>clothing</span>
				</td>
				<td>
					<span id='quantity'>3</span>
				</td>
				<td>
					<span id='price'>$123.45</span>
				</td>
				<td>
					<button type="button" class="btn btn-dark">Edit</button>
				</td>
				<td>
					<button type="button" class="btn btn-danger">Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
