<div class="container" id='containerbg'>
	<br>
	<h1>Products</h1>

	<form class="" action="index.html" method="post">
		<div class="form-row">
				<div class="form-group col-md-9">
					<input class="form-control" type="text" placeholder="Search" aria-label="Search">
				</div>
				<div class="form-group col-md-3">
					<select class="form-control" id="newCategory">
						<option>Name</option>
						<option>Product ID</option>
						<option>Inventory</option>
						<option>Category ID</option>
					</select>
				</div>
		</div>
	</form>

	<button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#addproduct" aria-expanded="false" aria-controls="addproduct">
		Add Product
	</button><br />
	<div class="collapse" id="addproduct">
		<form>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="newProductName">Product Name</label>
					<input type="text" class="form-control" id="newProductName" placeholder="Product Name">
				</div>
				<div class="form-group col-md-6">
					<label for="newCategory">Category</label>
					<select class="form-control" id="newCategory">
						<option>Null</option>
						<option>Clothes</option>
						<option>Cars</option>
						<option>3</option>
						<option>4</option>
					</select>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="newPrice">Price</label>
					<input type="number" min="0.00" step="0.01" class="form-control" id="newPrice" placeholder="Price">
				</div>
				<div class="form-group col-md-6">
					<label for="newInventory">Inventory</label>
					<input type="number" class="form-control" id="newInventory" placeholder="Inventory">
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
	<hr>

	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th scope="col" class="border-0 bg-light">
						<div class="p-2 px-3 text-uppercase">Product</div>
					</th>
					<th scope="col" class="border-0 bg-light">
						<div class="p-2 px-3 text-uppercase">Category</div>
					</th>
					<th scope="col" class="border-0 bg-light">
						<div class="py-2 text-uppercase">Price</div>
					</th>
					<th scope="col" class="border-0 bg-light">
						<div class="py-2 text-uppercase">Inventory</div>
					</th>
					<th scope="col" class="border-0 bg-light">
						<div class="py-2 text-uppercase">Update</div>
					</th>
					<th scope="col" class="border-0 bg-light">
						<div class="py-2 text-uppercase">Remove Product</div>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row" class="border-0">
						<div class="p-2">
							<img src="" alt="" width="70" class="">
							<div>
								<h5 class="mb-0"> <span class=""><b>Leather</b></span></h5>

							</div>
						</div>
					</th>
					<td class="border-0 align-middle">
						<em>Null</em>
					</td>
					<td class="border-0 align-middle"><strong>$9.95</strong></td>
					<td class="border-0 align-middle">
						24
					</td>
					<td class="border-0 align-middle">
						<a href="#" class="text-dark"><i class="fa fa-trash"></i></a>
						<button type="button" class="btn btn-dark">Edit</button>
					</td>
					<td class="border-0 align-middle">
						<a href="#" class="text-dark"><i class="fa fa-trash"></i></a>
						<button type="button" class="btn btn-danger">Delete</button>
					</td>
				</tr>
				<tr>
					<th scope="row">
						<div class="p-2">
							<img src="" alt="" width="70" class="img-fluid rounded shadow-sm">
							<div>
								<h5 class="mb-0"><span href="#" class=""><b>Lamborghini Aventador</b></span></h5>

							</div>
						</div>
					</th>
					<td class="align-middle">
						Cars
					</td>
					<td class="align-middle"><strong>$375,000.00</strong></td>
					<td class="align-middle">
						6
					</td>
					<td class="align-middle">
						<a href="#" class="text-dark"><i class="fa fa-trash"></i></a>
						<button type="button" class="btn btn-dark">Edit</button>
					</td>
					<td class="align-middle">
						<a href="#" class="text-dark"><i class="fa fa-trash"></i></a>
						<button type="button" class="btn btn-danger">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
