html, body, #containerbg {
  min-height: 100vh;
}


h1 {
  text-align: center;
}

body {
  padding-top: 55px;
  background-color: #2A4373;
  background-size: cover;
  background-attachment: fixed;
}

#containerbg {
  background: white;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}
