<div class="container" id ='containerbg'>
<br>

<h1>Account Database</h1>
<table>
	<body>
		<form class="" action="index.html" method="post">

		<tr>
			<input class="form-control" type="text" placeholder="Search" aria-label="Search">
		</tr>
		<tr>
			<td><input type="radio" id="User ID" name="searchFilter" value="User ID"><label for="User ID">User ID</label> </td>
			<td><input type="radio" id="username" name="searchFilter" value="username"><label for="username">Username</label> </td>
			<td><input type="radio" id="password" name="searchFilter" value="password"><label for="password">Password</label> </td>
			<td><input type="radio" id="email" name="searchFilter" value="email"><label for="email">Email</label> </td>
			<td><input type="radio" id="First Name" name="searchFilter" value="First Name"><label for="First Name">First Name</label> </td>
			<td><input type="radio" id="Last Name" name="searchFilter" value="Last Name"><label for="Last Name">Last Name</label> </td>
			<td><input type="radio" id="Street" name="searchFilter" value="Street"><label for="Street">Street</label> </td>
			<td><input type="radio" id="City" name="searchFilter" value="City"><label for="City">City</label> </td>
			<td><input type="radio" id="Zip" name="searchFilter" value="Zip"><label for="Zip">Zip</label> </td>
		</tr>
		</form>
	</body>
</table>

<br>

<button type="button" class="btn btn-primary">Add Account</button><hr>

<table class = 'table'>
	<thead>
		<tr>
			<th>User ID</th>
			<th>Username</th>
			<th>Password</th>
			<th>Email</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Street</th>
			<th>City</th>
			<th>Zip</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<span id='userid'>00000001</span>
			</td>
			<td>
				<span id='username'>barry</span>
			</td>
			<td>
				<span id='password'>1</span>
			</td>
			<td>
				<span id='email'>google@google.com</span>
			</td>
			<td>
				<span id='fname'>Barack</span>
			</td>
			<td>
				<span id='lname'>Obama</span>
			</td>
			<td>
				<span id='street'>1234 Fake Street</span>
			</td>
			<td>
				<span id='city'>Honolulu</span>
			</td>
			<td>
				<span id='zip'>90210</span>
			</td>
			<td>
				<button type="button" class="btn btn-dark">Edit</button>
			</td>
			<td>
				<button type="button" class="btn btn-danger">Delete</button>
			</td>
		</tr>
	</tbody>
</table>
</div>
