<div class="container" id ='containerbg'>
<br>

<h1>Your Cart</h1>
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th scope="col" class="border-0 bg-light">
					<div class="p-2 px-3 text-uppercase">Product</div>
					</th>
					<th scope="col" class="border-0 bg-light">
					<div class="py-2 text-uppercase">Price</div>
					</th>
					<th scope="col" class="border-0 bg-light">
					<div class="py-2 text-uppercase">Quantity</div>
					</th>
					<th scope="col" class="border-0 bg-light">
					<div class="py-2 text-uppercase">Edit Quantity</div>
					</th>
					<th scope="col" class="border-0 bg-light">
					<div class="py-2 text-uppercase">Remove Item</div>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row" class="border-0">
					<div class="p-2">
						<img src="" alt="" width="70" class="img-fluid rounded shadow-sm">
						<div class="ml-3 d-inline-block align-middle">
							<h5 class="mb-0"> <span class="text-dark d-inline-block align-middle"><b>T-Shirt</b></span></h5><span class="text-muted font-weight-normal font-italic d-block">Your favorite white T-Shirt</span>
							<p style='color: gray'>Seller: Houston Automated Manufacturing Company</p>
						</div>
					</div>
					</th>
					<td class="border-0 align-middle"><strong>$9.95</strong></td>
					<td class="border-0 align-middle">
						3
					</td>
					<td class="border-0 align-middle"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a>
					<button type="button" class="btn btn-dark">Edit</button>
					</td>
					<td class="border-0 align-middle"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a>
					<button type="button" class="btn btn-danger">Remove</button>
					</td>
				</tr>
				<tr>
					<th scope="row">
					<div class="p-2">
						<img src="" alt="" width="70" class="img-fluid rounded shadow-sm">
						<div class="ml-3 d-inline-block align-middle">
							<h5 class="mb-0"><span href="#" class="text-dark d-inline-block"><b>Lamborghini Aventador</b></span></h5><span class="text-muted font-weight-normal font-italic">Car</span>
							<p style='color: gray'>Seller: CarMax</p>
						</div>
					</div>
					</th>
					<td class="align-middle"><strong>$375,000.00</strong></td>
					<td class="align-middle">
						1
					</td>
					<td class="align-middle"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a>
						<button type="button" class="btn btn-dark">Edit</button>
					</td>
					<td class="align-middle"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a>
						<button type="button" class="btn btn-danger">Remove</button>
					</td>
				</tr>
			</tbody>
		</table>
		<hr>
		<div style='text-align: center'><button type="button" class="btn btn-primary">Place Order</button></div>
	</div>
</div>
