<div class="container" id ='containerbg'>
<br>

<hr>

<h1>Cart Database</h1>
<input class="form-control" type="text" placeholder="Search" aria-label="Search"> <hr> <br>

<table class = 'table'>
  <thead>
    <tr>
      <th>User ID</th>
      <th>Product ID</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
      <td>
        <span id='orderNumber'>00000001</span>
      </td>
      <td>
        <span id='products'>1</span> <br>
        <span id='products'>2</span> <br>
      </td>
      <td>
        <span id='quantity'>1</span> <br>
        <span id='quantity'>2</span>
      </td>

    </tr>

  </tbody>
</table>


</div>
