<div class="container" id ='containerbg'>
<br>

<hr>

<h1>Category Table</h1>
<input class="form-control" type="text" placeholder="Search" aria-label="Search"> <hr> <br>

<table class = 'table'>
  <thead>
    <tr>
      <th>Category ID</th>
      <th>Category Name</th>
    </tr>
  </thead>
  <tbody>
      <td>
        <span id='orderNumber'>1</span>
      </td>
      <td>
        <span id='products'>Food</span> <br>
      </td>

    </tr>

  </tbody>
</table>


</div>
