<div class="container" id ='containerbg'>
<br>
<hr>
<h1>Order Database</h1><hr>
<input class="form-control" type="text" placeholder="Search" aria-label="Search"> <hr> <br>
{{data}}
<table class = 'table'>
	<thead>
		<tr>
			<th>Order Number</th>
			<th>Username</th>
			<th>Order Total</th>
			<th>Order Date</th>
			<th>Order Detail</th>
		</tr>
	</thead>
	<tbody>
		{{#each list}}
		<tr>
			<td>
				{{this.orderNumber}}
				<!-- <span id='orderNumber'>00000001</span> -->
			</td>
			<td>
				placeholder
				<!-- <span id='products'>T-Shirt</span> <br> -->
			</td>
			<td>
				placeholder
				<!-- <span id='quantity'>1</span> <br> -->
			</td>
			<td>
				placeholder
				<!-- $<span id='productPrice'>9.95</span> <br> -->
			</td>
			<td>
				placeholder
				<!-- $<span id='orderTotal'>19.95</span> -->
			</td>
			<td>
				{{this.orderDate}}
				<!-- <span id='orderDate'>12-25-2019</span> -->
			</td>
		</tr>
		{{/each}}
	</tbody>
</table>
</div>
