<div class="container" id ='containerbg'>
<br>
<h1>Your Orders</h1>
<table class = 'table'>
	<thead>
		<tr>
			<th>Order Number</th>
			<th>Product</th>
			<th>Quantity</th>
			<th>Product Price</th>
			<th>Order Total</th>
			<th>Order Date</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<span id='orderNumber'>00000001</span>
			</td>
			<td>
				<span id='products'>T-Shirt</span> <br>
				<span id='products'>Cup</span> <br>
			</td>
			<td>
				<span id='quantity'>1</span> <br>
				<span id='quantity'>2</span>
			</td>
			<td>
				$<span id='productPrice'>9.95</span> <br>
				<span id='productPrice'>$10.00</span>
			</td>
			<td>
				$<span id='orderTotal'>19.95</span>
			</td>
			<td>
				<span id='orderDate'>12-25-2019</span>
			</td>
		</tr>
	</tbody>
</table>
</div>
