<div class="container" id ='containerbg'>
<br>
<hr>
<h1>Order Database</h1><hr>
<input class="form-control" type="text" placeholder="Search" aria-label="Search"> <hr> <br>
<table class = 'table'>
	<thead>
		<tr>
			<th>Order Number</th>
			<th>Username</th>
			<th>Order Total</th>
			<th>Order Date</th>
			<th>Order Detail</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<span id='orderid'>00000001</span>
			</td>
			<td>
				<span id='username'>barry</span>
			</td>
			<td>
				<span id='ordertotal'>$123.45</span>
			</td>
			<td>
				<span id='orderdate'>01-23-2019</span>
			</td>
			<td>
				<button type="button" class="btn btn-dark">View</button>
			</td>
		</tr>
	</tbody>
</table>
</div>
