<div class="container" id ='containerbg'>
	<br><hr>
	<h1>Order Products</h1><hr>

	<table>
		<body>
			<form class="" action="index.html" method="post">
				<tr>
					<input class="form-control" type="text" placeholder="Search Product Name" aria-label="Search">
				</tr>
				<tr></tr>
			</form>
		</body>
	</table>
	<table class = 'table'>
		<thead>
			<tr>
				<th>Product Name</th>
				<th>Quantity</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<span id='productname'>clothing</span>
				</td>
				<td>
					<span id='quantity'>3</span>
				</td>
				<td>
					<span id='price'>$123.45</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>
