<div class="container" id ='containerbg'>
<br>

<h1>Order Database</h1>
<table>
	<body>
		<form class="" action="index.html" method="post">

		<tr>
			<input class="form-control" type="text" placeholder="Search" aria-label="Search">
		</tr>
		<tr>
			<td><input type="radio" id="Order Number" name="searchFilter" value="Order Number"><label for="Order Number">Order Number</label> </td>
			<td><input type="radio" id="username" name="searchFilter" value="username"><label for="username">Username</label> </td>
		</tr>
		</form>
	</body>
</table>

<br>
<button type="button" class="btn btn-primary">Add Order</button><hr>

<table class = 'table'>
	<thead>
		<tr>
			<th>Order Number</th>
			<th>Username</th>
			<th>Order Total</th>
			<th>Order Date</th>
			<th>Order Detail</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<span id='orderid'>00000001</span>
			</td>
			<td>
				<span id='username'>barry</span>
			</td>
			<td>
				<span id='ordertotal'>$123.45</span>
			</td>
			<td>
				<span id='orderdate'>01-23-2019</span>
			</td>
			<td>
				<a href="order_product"><button type="button" class="btn btn-dark">View</button></a>
			</td>
		</tr>
	</tbody>
</table>
</div>
