<div class="container" id ='containerbg'>
<br>

<hr>

<h1>Payment Database</h1>
<input class="form-control" type="text" placeholder="Search" aria-label="Search"> <hr> <br>

<table class = 'table'>
	<thead>
		<tr>
			<th>Payment ID</th>
			<th>Username</th>
			<th>Password</th>
			<th>Email</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Street</th>
			<th>City</th>
			<th>Zip</th>
			<th>Card Number</th>
			<th>Expiration</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
	<tbody>
		<tr>
			<td>
				<span id='paymentid'>00000001</span>
			</td>
			<td>
				<span id='username'>barry</span>
			</td>
			<td>
				<span id='password'>1</span>
			</td>
			<td>
				<span id='email'>google@google.com</span>
			</td>
			<td>
				<span id='fname'>Barack</span>
			</td>
			<td>
				<span id='lname'>Obama</span>
			</td>
			<td>
				<span id='street'>1234 Fake Street</span>
			</td>
			<td>
				<span id='city'>Honolulu</span>
			</td>
			<td>
				<span id='zip'>90210</span>
			</td>
			<td>
				<span id='cardnumber'>1234-5678-9012</span>
			</td>
			<td>
				<span id='expiration'>11/11</span>
			</td>
			<td>
				<button type="button" class="btn btn-dark">Edit</button>
			</td>
			<td>
				<button type="button" class="btn btn-danger">Delete</button>
			</td>
		</tr>
	</tbody>
	</tbody>
</table>


</div>
