<div class="container" id ='containerbg'>
	<br>
	<h1>Products</h1>
	<div class="table-responsive">
        <table class="table">
            <thead>
				<tr>
					<th scope="col" class="border-0 bg-light">
						<div class="p-2 px-3 text-uppercase">Product</div>
					</th>
					<th scope="col" class="border-0 bg-light">
						<div class="py-2 text-uppercase">Price</div>
					</th>
					<th scope="col" class="border-0 bg-light">
						<div class="py-2 text-uppercase">Quantity</div>
					</th>
					<th scope="col" class="border-0 bg-light">
						<div class="py-2 text-uppercase">Add to cart</div>
					</th>
				</tr>
            </thead>
            <tbody>
				<tr>
					<th scope="row" class="border-0">
					<div class="p-2">
						<img src="" alt="" width="70" class="">
						<div>
							<h5 class="mb-0"> <span class=""><b>T-Shirt</b></span></h5><span class="text-muted font-weight-normal font-italic d-block">Your favorite white T-Shirt</span>
							<p style='color: gray'>Seller: Houston Automated Manufacturing Company</p>
						</div>
					</div>
					</th>
					<td class="border-0 align-middle"><strong>$9.95</strong></td>
					<td class="border-0 align-middle">
						<select class="custom-select col-lg-6" id="inlineFormCustomSelect">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
						</select>
					</td>
					<td class="border-0 align-middle"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a>
						<button type="button" class="btn btn-primary">Add to cart</button>
					</td>
				</tr>
				<tr>
					<th scope="row">
					<div class="p-2">
						<img src="" alt="" width="70" class="img-fluid rounded shadow-sm">
						<div>
							<h5 class="mb-0"><span href="#" class=""><b>Lamborghini Aventador</b></span></h5><span class="text-muted font-weight-normal font-italic">Car</span>
							<p style='color: gray'>Seller: CarMax</p>
						</div>
					</div>
					</th>
					<td class="align-middle"><strong>$375,000.00</strong></td>
					<td class="align-middle">
						<select class="custom-select col-lg-6" id="inlineFormCustomSelect">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
						</select>
					</td>
					<td class="align-middle"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a>
						<button type="button" class="btn btn-primary">Add to cart</button>
					</td>
				</tr>
            </tbody>
        </table>
    </div>
</div>
