<div class="container" id ='containerbg'>
<br>

<hr>

<h1>Products</h1>
<input class="form-control" type="text" placeholder="Search" aria-label="Search"> <hr> <br>

<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th scope="col" class="border-0 bg-light">
				<div class="p-2 px-3 text-uppercase">Product</div>
            </th>
            <th scope="col" class="border-0 bg-light">
				<div class="p-2 px-3 text-uppercase">Category</div>
            </th>
            <th scope="col" class="border-0 bg-light">
				<div class="py-2 text-uppercase">Price</div>
            </th>
            <th scope="col" class="border-0 bg-light">
				<div class="py-2 text-uppercase">Quantity</div>
            </th>
            <th scope="col" class="border-0 bg-light">
				<div class="py-2 text-uppercase">Update</div>
            </th>
            <th scope="col" class="border-0 bg-light">
				<div class="py-2 text-uppercase">Remove Product</div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row" class="border-0">
				<div class="p-2">
					<img src="" alt="" width="70" class="">
					<div>
					<h5 class="mb-0"> <span class=""><b>T-Shirt</b></span></h5>

					</div>
				</div>
            </th>
            <td class="border-0 align-middle">
                Clothes
            </td>
            <td class="border-0 align-middle"><strong>$9.95</strong></td>
            <td class="border-0 align-middle">
                24
            </td>
            <td class="border-0 align-middle"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a>
				<button type="button" class="btn btn-dark">Edit</button>
            </td>
            <td class="border-0 align-middle"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a>
			 <button type="button" class="btn btn-danger">Delete</button>
            </td>
        </tr>
        <tr>
            <th scope="row">
            <div class="p-2">
                <img src="" alt="" width="70" class="img-fluid rounded shadow-sm">
                <div>
                <h5 class="mb-0"><span href="#" class=""><b>Lamborghini Aventador</b></span></h5>

                </div>
            </div>
            </th>
            <td class="align-middle">
                Cars
            </td>
            <td class="align-middle"><strong>$375,000.00</strong></td>
            <td class="align-middle">
                6
            </td>
            <td class="align-middle"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a>
				<button type="button" class="btn btn-dark">Edit</button>
            </td>
            <td class="align-middle"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a>
				<button type="button" class="btn btn-danger">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
  </div>
</div>
