<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="/css/index.css">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/">Dumb Amazon</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <div class="navbar-nav mr-auto">

    <a class="nav-item nav-link active" href="/">Home<span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link" href="shop">Shop</a>
    <a class="nav-item nav-link" href="cart">Cart</a>
    <a class="nav-item nav-link" href="orders">Orders</a>

  </div>

  <div class="navbar-nav">

  <a class="nav-item nav-link" href="settings">Settings</a>
  <a class="nav-item nav-link" href="login">Log In</a>

  </div>
</div>
</nav>

<div class="container" id ='containerbg'>
  <br>

  <h1>Dumb Amazon Home Page</h1>
  <p style='text-align: center; color: #606060;'>A basic online shopping site</p>

  <h3>Other Ideas</h3>
  <ol>
    <li>Not Amazon</li>
    <li>Yosemite</li>
    <li>Mazamon</li>
    <li>Azamon</li>
    <li>Beff Jezos</li>
    <li>YouShop</li>
    <li>OSUShop</li>
    <li>iShop</li>
    <li>PopShop</li>
    <li>Alabiba</li>
    <li>Balabiba</li>
  </ol>

    <p>Will later fill the home page with filler ads or text</p>

</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
