<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="/css/index.css">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/productsdb">Dumb Amazon (Administrative Mode)</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <div class="navbar-nav mr-auto">

    <a class="nav-item nav-link active" href="/productsdb">Product Database</a>
    <a class="nav-item nav-link" href="/cartdb">Cart Database</a>
    <a class="nav-item nav-link" href="/ordersdb">Order Database</a>

  </div>

  <div class="navbar-nav">

  <a class="nav-item nav-link" href="/addproducts">Add Products</a>
  <a class="nav-item nav-link" href="/">Customer</a>

  </div>
</div>
</nav>

<div class="container" id ='containerbg'>
<br>

<hr>

<h1>Products</h1>
<input class="form-control" type="text" placeholder="Search" aria-label="Search"> <hr> <br>

<div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="border-0 bg-light">
                    <div class="p-2 px-3 text-uppercase">Product</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="p-2 px-3 text-uppercase">Seller</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Price</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Quantity</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Update</div>
                  </th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" class="border-0">
                    <div class="p-2">
                      <img src="" alt="" width="70" class="">
                      <div>
                        <h5 class="mb-0"> <span class=""><b>T-Shirt</b></span></h5>

                      </div>
                    </div>
                  </th>
                  <td class="border-0 align-middle">
                      Houston Automated Manufacturing Company
                  </td>
                  <td class="border-0 align-middle"><strong>$9.95</strong></td>
                  <td class="border-0 align-middle">
                      24
                  </td>
                  <td class="border-0 align-middle"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a>
                    <button type="button" class="btn btn-dark">Edit</button>
                  </td>

                </tr>
                <tr>
                  <th scope="row">
                    <div class="p-2">
                      <img src="" alt="" width="70" class="img-fluid rounded shadow-sm">
                      <div>
                        <h5 class="mb-0"><span href="#" class=""><b>Lamborghini Aventador</b></span></h5>

                      </div>
                    </div>
                  </th>
                  <td class="align-middle">
                      CarMax
                  </td>
                  <td class="align-middle"><strong>$375,000.00</strong></td>
                  <td class="align-middle">
                      6
                  </td>
                  <td class="align-middle"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a>
                    <button type="button" class="btn btn-dark">Edit</button>
                  </td>

                </tr>

              </tbody>
            </table>
  </div>


</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
